<!DOCTYPE html>
<html>
<head>
    <title>Update User</title>
</head>
<body>
    <h1>Update User</h1>
    <form action="/{{.ID}}/update/process" method="post">
    <h3>Please enter the new information</h3>
        <input type="text" name="UpdateName" placeholder="Nombre">
        <input type="text" name="UpdateAge" placeholder="Age">
        <input type="text" name="UpdateEmail" placeholder="Email">
        <button type="submit">Update</button>
    </form>
</body>
<body>
    <button onclick="redirectToMain()">Back</button>
    <script>
         function redirectToMain() {
           window.location.href = "/";
        }
    </script>
</body>
</html>