<!DOCTYPE html>
<html>
<head>
    <title>Update Deck</title>
</head>
<body>
    <h1>Update Deck</h1>
    <form action="/{{.Commander}}/update/deck/process" method="post">
    <h3>Please enter the new information</h3>
        <input type="text" name="UpdateCommander" placeholder="Commander">
        <input type="text" name="UpdatePowerlvl" placeholder="Power level">
        <input type="text" name="UpdateColors" placeholder="Color Identity">
        <button type="submit">Update</button>
    </form>
</body>
<body>
    <button onclick="redirectToMain()">Back</button>
    <script>
         function redirectToMain() {
           window.location.href = "/";
        }
    </script>
</body>
</html>